.stitch {
  font-style: italic;
}
.bodyContainer {
  display: flex;
  margin: 25px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 25px 50px 0 50px;
}
.iconTrayContainer {
  border: 1px dotted blue;
  margin-inline: 25px;
  flex: 1;
  padding: 10px;
}

.JSONFieldContainer {
  border: 1px dotted blue;
  margin-inline: 25px;
  flex: 4;
  min-width: 300px;
  padding: 10px;
  overflow-wrap: break-word;
}

.allSchemasContainer {
  border: 1px dotted blue;
  margin-inline: 25px;
  flex: 4;
  min-width: 300px;
  padding: 10px;
}

.schemaContainer > div {
  margin-top: 5px;
  padding-top: 5px;
}

#fieldbox > select {
  padding-right: 10px;
  margin-inline: 10px;
  border: none;
}

#typebox > span {
  margin-inline: 10px;
}
