.bodyContainer {
  display: flex;
  margin: 25px;
}

.iconTrayContainer {
  border: 1px dotted blue;
  margin-inline: 25px;
  flex: 1;
  min-width: 100px;
  max-width: 200px;
  padding: 10px;
}

.JSONFieldContainer {
  border: 1px dotted blue;
  margin-inline: 25px;
  flex: 4;
  min-width: 300px;
  padding: 10px;
}

.allSchemasContainer {
  border: 1px dotted blue;
  margin-inline: 25px;
  flex: 4;
  min-width: 300px;
  padding: 10px;
}

.schemaContainer > div {
  margin-top: 5px;
  padding-top: 5px;
}

#fieldbox > select {
  padding-right: 10px;
  margin-inline: 10px;
  border: none;
}

#typebox > span {
  margin-inline: 10px;
}